<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- css style.css -->
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/componentes/header.css">
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>
</head>

<body class="container">
    <%- include ('partials/header') %>

    <div class="container valign-wrapper">
        <div class="row center-align">
            <% if (!pets.length) { %>

            <p class="textpet">Nenhum pet registrado...<br>
            Crie seu cartãozinho agora!</p>
            <a class="waves-effect waves-light btn grey btnregistrar" href="/user/<%=user.username%>/cadastro-pet">Registrar pet</a>

            <% } else { %>
            <h1 class="titlePet">Meus Pets</h1>
            <div class="card-container">
                <% pets.forEach(pet => { %>
                <div class="card">
                    <h2><%= pet.nome %></h2>
                    <div class="fotopet"><img src="<%= pet.diretorio_foto_pet %>" alt="" width="80px" height="80px"></div>
                    <p>Idade: <span><%= pet.idade %></span></p>
                    <p>Sexo: <span><%= pet.sexo %></span></p>
                    <button class="abrirmodal">Mais Infos</button>
                    <form action="/user/<%=user.username%>/apagar-pet" method="post">
                        <input type="hidden" name="idPet" value="<%= pet.id_pet %>">
                        <button>Excluir pet</button>
                    </form>

                    <dialog>
                        <div class="conteudoPets">
                            <div class="cardsPets">
                                <div class="cardFrente">
                                    <div class="cardFrenteFoto">
                                        <h2 class="NomeFoto"><%= pet.nome %></h2>
                                        <img src="<%= pet.diretorio_foto_pet %>" width="200px" height="350px" alt="">
                                        <h2 class="IdadeFoto"><%= pet.idade %></h2>
                                    </div>
                                </div>
                                <div class="cardVerso">
                                    <div class="InfosVerso">
                                        <p>Nome: <%= pet.nome %></p>
                                        <p>Especie: <%= pet.especie %></p>
                                        <p>Raça: <%= pet.raca %></p>
                                        <p>Cor: <%= pet.cor %></p>
                                        <p>Sexo: <%= pet.sexo %></p>
                                        <p>Peso: <%= pet.peso %></p>
                                        <p>Alergias: <%= pet.alergia %></p>
                                        <p>Medicamentos: <%= pet.medicamento %></p>
                                        <p>Vacinas: <%= pet.vacina %></p>

                                        <p>INFORMAÇÕES DE CONTATO:</p>
                                        <p>Nome do dono: <%= pet.nomedono %></p>
                                        <p>Telefone: <%= pet.telefone %></p>
                                        <p>Endereço: <%= pet.endereco %></p>
                                        <p>Cidade: <%= pet.cidade %></p>
                                        <p>CEP: <%= pet.cep %></p>
                                    </div>
                                </div>
                            </div>
                            <button class="botaofechar">Fechar</button>
                        </div>
                    </dialog>
                </div>
                <% }) %>
            </div>
            <a class="waves-effect waves-light btn grey btnregistrar" href="/user/<%=user.username%>/cadastro-pet">Registrar mais pets</a>
            <% } %>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/principal.js"></script>

</body>

</html>